/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --cover-image: url("../images/cover-image-dark.png");
  --background-color: #000028;
  --content-text-color: #f1b2ce;
  --title-text-color: #000028;
  --title-decor-color: #db00ff;
  --accent-color: #ff0070;
  --button-color: #ff0070;
  --content-text-color: #f1b2ce;
  --content-section-title: #ff0070;
  --color-rec: #ff0070;
  --decor-color: #ff0070;
}

.theme-dark .header__rec {
  display: flex;
}
