/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --cover-image: url("../images/cover-image-light.png");
  --background-color: #f5eaf3;
  --title-text-color: #353430;
  --title-decor-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --button-color: #353430;
  --content-text-color: #353430;
  --content-section__title: #353430;
  @media (prefers-color-scheme: light) {
    :root {
      --cover-image: url("../images/cover-image-light.png");
      --background-color: #fbfbfb;
      --title-text-color: #353430;
      --title-decor-color: #ffc2e6;
      --accent-color: #ff8dcb;
      --button-color: #353430;
      --content-text-color: #353430;
      --content-section__title: #353430;
    }
    .header__rec {
      display: none;
    }
  }
}

:root.theme-light .header__rec {
  display: none;
}
