/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --cover-image: url("../images/cover-image-light.png");
  --background-color: #FFF1F7;
  --title-text-color: #353430;
  --title-decor-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --button-color: #353430;
  --content-text-color: #353430;
  --content-section-title: #353430;
  --decor-color: #353430;
}

.theme-light .header__rec {
  display: none;
}

  @media (prefers-color-scheme: light) {
    :root {
      --cover-image: url("../images/cover-image-light.png");
      --background-color: #FFF1F7;
      --title-text-color: #353430;
      --title-decor-color: #FFC2E6;
      --accent-color: #FF8DCB;
      --button-color: #353430;
      --content-text-color: #353430;
      --content-section-title: #353430;
      --decor-color: #353430;
    }
    .header__rec {
      display: none;
    }
  }

