/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--background-color);
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--cover-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 668px;
  margin-block-end: 30px;
  padding: 10px;
  font-family: "IBM Plex mono", sans-serif;
}

@media (width >=768px) {
  .header {
    margin-block-end: 40px;
    padding: 0px;
  }
}

.header__theme-menu {
  grid-row: 1;
  color: var(--button-color);
  font-size: 18px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 11px;
  margin-block-start: 63px;
}

@media (width >= 768px) {
  .header__theme-menu-list {
    margin-inline-end: 20px;
    margin-block-start: 190px;
  }
}

@media (width >= 1024px) {
  .header__theme-menu-list {
    flex-direction: row;
    gap: 16px;
    margin-inline-start: 402px;
    margin-block-start: 16px;
    padding-inline-end: 5px;
  }
}

 .header__rec {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--color-rec);
  font-size: 18px;
  line-height: 25px;
}

@media (width >=768px) {
  .header__rec {
    top: 20px;
    right: 29px;
  }
}

.header__rec::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}

.header__title {
  grid-row: 2;
  align-self: center;
  color: var(--title-decor-color);
  font-family: "IBM Plex mono", sans-serif;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.8;
  text-shadow: 4px 4px 0 var(--accent-color);
}

@media (width >=768px) {
  .header__title {
    justify-self: start;
  }
}

@media (width >=1024px) {
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

.header__text {
  justify-self: center;
  align-self: center;
  color: var(--title-text-color);
  font-family: "IBM Plex mono", sans-serif;
  font-weight: 700;
  font-size: 18px;
  background-color: var(--accent-color);
  max-inline-size: 355px;
}

@media (width >= 768px) {
  .header__text {
    justify-self: end;
    margin-inline-end: 20px;
    margin-block-end: 20px;
    max-inline-size: 364px;
  }
}

@media (width >= 1024px) {
  .header__text {
    margin-block-end: 20px;
    max-inline-size: 491px;
  }
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
}

@media (width >= 768px) {
  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
}

@media (width >= 768px) {
  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }
}

.header__theme-menu-button {
  border: none;
  padding-inline-end: 15px;
  background: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover:not(:focus) {
  outline: 1px solid rgb(from var(--button-color) r g b / 50%);
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-color);
  outline: none;
}

.content {
  display: grid;
  gap: 50px;
  margin-block-end: 26px;
  padding: 10px;
  font-family: "IBM Plex Mono", sans-serif;
}

@media (width >=768px) {
  .content {
    gap: 80px;
    margin-block-end: 30px;
    padding: 20px;
  }
}

.content-section {
  gap: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

@media (width >=768px) {
  .content-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }
}

@media (width >=1024px) {
  .content-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

.reasons {
  .content-section__title {
    grid-column: 1/-1;
    /* @media (width >=768px) {
      max-width: 236px;
    }
    @media (width >=1024px) {
      max-width: 315px;
    }*/
  }

  .paragraphs {
    grid-column: 1/-1;
    /* @media (width >=1024px) {
      grid-template-columns: repeat(3, 1fr);
      align-items: start;
    }*/
  }
}

@media (width >=768px) {
  .reasons {
    .content-section__title {
      max-width: 236px;
    }
  }
}

@media (width >=1024px) {
  .reasons {
    .content-section__title {
      max-width: 315px;
    }
  }
}

@media (width >=1024px) {
  .reasons {
    .paragraphs {
      grid-template-columns: repeat(3, 1fr);
      align-items: start;
    }
  }
}

.paragraphs {
  display: grid;
  gap: 20px;
}

@media (width >=1024px) {
  .paragraphs {
    grid-column: span 2;
  }
}

.content-section__title {
  margin-block-end: 20px;
  color: var(--content-section-title);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

@media (width >=768px) {
  .content-section__title {
    margin-block-end: 0px;
  }
}

.paragraph {
  display: grid;
}

.paragraph__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.paragraph__link:hover {
  text-decoration: underline var(--content-text-color);
}

.paragraph__link:focus {
  outline: none;
}

.paragraph__link:focus-visible {
  border: 1px solid var(--content-text-color);
  outline: none;
  text-decoration: none;
}

.paragraph__title {
  margin-block-end: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--accent-color);
}

.paragraph__subtitle {
  margin-block-start: 10px;
  margin-block-end: 10px;
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 18px;
  background-color: var(--accent-color);
}

.paragraph__content {
  color: var(--content-text-color);
  font-weight: 400;
}

.paragraph__list {
  display: grid;
  gap: 9px;
}

/*.advices {
  @media (width >=375px) {
    .paragraph__subtitle {
      margin-bottom: 1px;
    }
  }

  @media (width >=768px) {
    .paragraph__subtitle {
      margin-bottom: 2px;
    }
  }
}*/

@media (width >=375px) {
  .advices {
    .paragraph__subtitle {
      margin-bottom: 1px;
    }
  }
}

@media (width >=768px) {
  .advices {
    .paragraph__subtitle {
      margin-bottom: 2px;
    }
  }
}

.gallery {
  display: grid;
  gap: 5px;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__images {
  display: grid;
  gap: 10px;
}

@media (width >= 768px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 10px;
  }

  .gallery__title {
    grid-column: 1/-1;
  }

  .gallery__images {
    display: grid;
    grid-column: 1/-1;
    gap: 20px;
  }
  .gallery img:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .gallery img:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .gallery img:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .gallery img:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .gallery img:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
}

.footer {
  display: grid;
  height: 100vh;
  min-height: 668px;
}

.footer__title {
  justify-self: center;
  align-self: center;
  color: var(--title-decor-color);
  font-family: "IBM Plex mono", sans-serif;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.8;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >=1024px) {
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
